.sidebar {
    position: fixed;
    width: 215px;
    height: 100vh;
    border: 1px solid #f0f0f0;
}
.sidebar img{
    width: 150px;
    height: 40px;
}

.iconList span{
    padding-left: 10px;
}
.iconList li{
    padding-left: 20px;
    width: 180px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    margin-top: 22px;
    cursor: pointer;
}
.iconList li:hover{
    background-color: rgb(238, 237, 237);
}
.iconList li:last-child{
    margin-top: 90px;
}
.modalBox p{
    text-align: center;
    width: 100%;
    font-weight: 600;
    color: rgb(63, 63, 63);
    /* border: 1px solid black; */
}
.modalBoxBtn img{
    height: 170px;
    width: 230px;
}
.modalBoxBtn p{
    color: rgb(63, 63, 63);
    font-size: 18px;
    font-weight: 100;   
}
.modalBoxBtn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70%;
}
.getImg{
    overflow: hidden;
}
.getImg img {
    margin-top: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.getImgBtn{
    display: flex;
    justify-content: space-between;
}
.finalModal {
    display: flex;
}
.finalModal img{
    margin-top: -9px;
    width: 60%;
}
.account img{
    height: 30px;
    width: 30px;
    margin-top: 0;
    margin-left: 10px;
    border-radius: 50%;
}
.account{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    padding: 10px;
    font-size: 12px;
}
.accountdetail p{
    display: flex;
    margin: 8px;
    font-size: 13px;
    /* height: 10px; */
}
.finalModalLeft{
    display: flex;
    width: 100%;
    align-items: baseline;
    flex-direction: column;
}
.textTools p{
    font-size: 13px;
}
.textTools{
    display: flex;
    width: 92%;
    padding: 5px;
    justify-content: space-between;
    color: #8e8e8e;

}
.finalModalSetting{
    display: flex;
    width: 96%;
    justify-content: space-between;
    padding-left: 10px;
    color: rgb(51, 51, 51);
    /* padding-right: 50px; */
    border-bottom: 1px solid #8e8e8e;
}
.discardModal p{
    margin: 0;
    cursor: pointer;
}
.discardModal p:first-child{
    margin: 0;
    /* margin-top: 10px; */
}
.discardModal p:nth-child(2){
    margin-bottom: 15px;
}

.discardModal{
    
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.discardBtns {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.discardBtns p{
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #b3b2b2;
    margin: 0;
    padding-top:15px ;
    padding-bottom:15px ;
    /* border-top: 1px solid #8e8e8e; */
}
.discardBtns p:first-child{
    margin: 0;
    color: rgb(215, 54, 54);
    padding-top:15px ;
    padding-bottom:15px ;
    border-top: 1px solid #b3b2b2;
}
.logout p{
   text-align: center;
}
.logout{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logoutbox1 p:first-child{
    font-size: 22px;
    margin: 0;
}
.logoutbox1 p:last-child{
    color: #8e8e8e;
}
.logoutbox2 p:hover{
    color: red;
}
    /* margin: 0; */

.logoutbox2{
    margin-top: 10px;
    width: 100%;
    border-top: 1px solid #b3b2b2;
    /* color: red; */
    cursor: pointer;
    margin-bottom: -20px;
}

@media screen and (max-width:700px){
  .sidebar{
    display: flex;
  }
}