.mainContainer {
    display: flex;
  }
  
  .sidebar {
    flex: 0 0 350px;    
}
.sidebar1 {
    
    
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #868181;
  text-align: center;
  padding: 10px;
  }
  
  .storySec {
   display: flex;
   flex-direction: column;
   justify-content: center;
    flex: 1;
    background-color: #ffffff;

  }
  
  .leftSec {
flex: 0 0 600px;   
}
.loaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.loader {
  position: relative;
  width: 80px;
  height: 80px;
  animation: spin 1.5s infinite linear;
}

.innerLoader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 4px solid #f3f3f3;
  border-top-color: #3498db;
  border-radius: 50%;
  animation: spin 1.5s infinite ease-in-out;
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
